.content-support article {
  position: absolute;
  top: 100px;
  z-index: 100;
}


marquee {
  width: 100%;
  position: relative;
  top: 170px;
  z-index: 100;
  font-size: 2em;
  color: #FFF;
  padding: 0px 20px;
  margin: 0px;
  background-color: #000;
}

.fa-support {
position: relative;
top: 170px;
z-index: 101;
}